html {
    font-size: 10px;
  }
  
  body {
    font-size:1.8rem;
    line-height: 2;
    text-align: center;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/9/b/279857.jpg);
    margin: 0;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  #title-background {
    padding: 1px;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left:  25%;
    margin-right: 25%;
    background-color: #f9f8f8;
    border-radius: 50px;
    font-family: "Arial Black";
    box-shadow: 10px 10px 10px;
    
  }
  
  #tribute-info {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f9f8f8;
    border-radius: 50px;
    box-shadow: 10px 10px 10px;
    font-family: "Verdana";
  }
  
  #img-div {
    display: block;
    margin-left: auto;
    marging-right: auto;
    
  }
  
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  
  